################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ClassLibrary1/obj
/.vs/ClassLibrary1
/.vs/ProjectEvaluation
/ClassLibrary1/bin
/TestProject1/bin/Debug/net6.0
/TestProject1/obj
